:root {
  --white: #ffffff;
  --dark: #171717;
  --gray: #444444;
  --red_main: #da0037;
  --ligth_gray: #ededed;
  --red: #db1818;
  --red_ligth: #ff2626;
  --pink: #f05454;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
